## DAY_03 EXERCISE

In [2]:


# Declare your age as integer variable

age = int(27)
print(age)
print(type(age))


# Declare your height as a float variable

height = float(5.45)
print(height)
print(type(height))


# Declare a variable that store a complex number

real = 9
imaginary = 3
complex_no = complex(real, imaginary)
print("The complex number is: ", complex_no)



# Area of a Triangle 

base = float(input('Enter base: '))
height = float(input('Enter height: '))

area = 0.5 * base * height

print('The area of the triangle is:',area)

# Perimeter of a triangle

a = float(input('Enter side a: '))
b = float(input('Enter side b: '))
c = float(input('Enter side c: '))

perimeter = a + b + c

print('The perimeter of the triangle is:',perimeter)



# Area and perimeter of a rectangle

length = float(input('Enter length: '))
width = float(input('Enter width: '))

area_rectangle = length * width
perimeter_rectangle = 2 *(length + width)

print('The area of the rectangle is:',area_rectangle)
print('The perimeter of the rectangle is:',perimeter_rectangle)



# Area and circumference of a circle

radius = float(input('Enter radius: '))
pi = 3.14

area_circle = pi * radius**2
circum = 2 * pi * radius

print('The area of the circle is:',area_circle)
print('The circumference of the circle is:',circum)

27
<class 'int'>

In [28]:
# slope, x-intercept and y-intercept of y = 2x -2 

slope = 2
print('slope',2)

# x intercept
y = 0
x = (y+2)/2
print('x-intercept is occurs at',x)
     
# y intercept
x = 0
y = 2*x-2
print('y-intercept is occurs at',y)

slope 2
x-intercept is occurs at 1.0
y-intercept is occurs at -2

In [23]:
# slope and euclidean distance between two points 

x1=float(input('enter x1: '))
y1=float(input('enter y1: '))
x2=float(input('enter x2: '))
y2=float(input('enter y2: '))


m = (y2-y1)/(x2-x1)
d=((x1-y1)**2 + (x2-y2)**2)**0.5


print('the slope of the point is %.1f' %m)
print('the distance of the point is %.1f' %d)

enter x1:  2
enter y1:  2
enter x2:  6
enter y2:  10

the slope of the point is 2.0
the distance of the point is 4.0

In [29]:
# comparing the slopes

# the two slopes are equal = 2

In [22]:
# calculatin y value for different values of x

x= float(input('enter the your value for x:'))

y = (x**2 + 6*x + 9)

print(f'the value of y is {y:.0f} at x is {x:.1f}')

enter the your value for x: -3

the value of y is 0 at x is -3.0

In [7]:
# length of python and dragon 

length = len('python')
length_2 = len('dragon')

print (length > length_2)   #falsy statement

# using and operator to find 'on' in python and dragon

print('on' in ('python' and 'dragon'))

False
True

In [1]:
# using 'in' operator to check 'jargon' in the sentence

course='i hope this course is nit full of jargon'
print('jargon' in course)

True

In [11]:
# using 'not in'

print('on' not in ('python' and 'dragon'))

False

In [23]:
#  length of the text python converted to float string

length = len('python')
floa_t = float(length)
strin_g= str(floa_t)

print(type(length))
print(type(floa_t))
print(type(strin_g))

<class 'int'>
<class 'float'>
<class 'str'>

In [19]:
# checking for even number

number= float(input('enter number: '))

if number %2 == 0:
    print(f'{number} is an even number')
else:
    print (f'{number} is not an even number')

enter number:  7

7.0 is not an even number

In [21]:
# difference between floor division and int division

print(7//3 == 7/3)

False

In [22]:
#  checking type '10' and 10

print(type('10') == type(10))

False

In [27]:
# checking int 9.8 and 10

print(type(int(9.8)) == 10)

False

In [35]:
# calculating pay per person

hours = float(input('enter hours: '))
rate = float(input('enter rate per hour: '))

weekly_earning = hours * rate

print('your weekly earning is %.0f' % weekly_earning)

enter hours:  40
enter rate per hour:  28

your weekly earning is 1120

In [38]:
# number of seconds a person can live

year= float(input('enter number of years you have lived: '))

year_lived = 31536000 * year

print(f'you have lived for {year_lived:.0f} seconds.')

enter number of years you have lived:  100

you have lived for 3153600000 seconds.

In [21]:
# python script that displays this table

print('1\t1\t1\t1\t1\n2\t1\t2\t4\t8\n3\t1\t3\t9\t27\n4\t1\t4\t16\t64\n5\t1\t5\t25\t125')

1	1	1	1	1
2	1	2	4	8
3	1	3	9	27
4	1	4	16	64
5	1	5	25	125