## Day_06 practice

In [1]:
#  creating an empty tuple
empty = ()

In [9]:
# exercises: level 1

brothers = ('abu','adam', 'abdulloh')
sisters = ('aishah','khadijah','zainab')

siblings = brothers + sisters
print(len(siblings))          #  numbers of siblings

# modifying the tuple and adding name of father and mother

mod = list(siblings)
mod.append('yahya')
mod.append('ola')
family_members = tuple(mod)
print (family_members)

6
('abu', 'adam', 'abdulloh', 'aishah', 'khadijah', 'zainab', 'yahya', 'ola')

In [18]:
fruits = ('mango', 'cashew', 'apple', ' banana')
vegetables = ('carrot','okra','cabbage','tomato')
animal_products = ('milk', 'egg', 'meat', 'hide')

food_stuff_tp = fruits + vegetables + animal_products
food_stuff_lt = list(food_stuff_tp)     # changing the tuple to list

print(food_stuff_lt)
print(food_stuff_lt[5:7])  # slicing out the middle items
print(food_stuff_lt[:3])   # slicing out the first three items
print(food_stuff_lt[-3:])  # slicing out the last three items 

del (food_stuff_tp)     # deleting the tuple completely
print(food_stuff_tp)    #checking if an item exist in the tuple

['mango', 'cashew', 'apple', ' banana', 'carrot', 'okra', 'cabbage', 'tomato', 'milk', 'egg', 'meat', 'hide']
['okra', 'cabbage']
['mango', 'cashew', 'apple']
['egg', 'meat', 'hide']

NameError: name 'food_stuff_tp' is not defined

In [21]:
# checking if a country exist in a tuple using in operator

nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')
print('Estonia' in nordic_countries)
print('Iceland' in nordic_countries)

False
True